<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<location path="." inheritInChildApplications="false">
		<system.webServer>
			<handlers>
				<add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified" />
			</handlers>
			<aspNetCore processPath="dotnet" arguments=".\PartnerScraper.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout">
				<environmentVariables xdt:Transform="RemoveAll" />
				<environmentVariables xdt:Transform="InsertIfMissing">
					<environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Local" />
				</environmentVariables>
			</aspNetCore>
		</system.webServer>
	</location>
</configuration>
<!--ProjectGuid: 5c2333c5-9632-4ce6-a9bf-6ea73de4f9e5-->